/* login.css */

html, body{
    margin: 0;
    padding: 0;
    border-radius: 4px;
}

.mainWindow{
    width: 430px;
    height: 330px;
    border-radius: 4px;
    position: relative;
}

.mainWindow header{
    position: absolute;
    height: 30px;
    width: 430px;
    background: transparent; 
    border-radius: 4px;
    text-align: right;
}

.mainWindow header #close{
    background-color: transparent;
}

.mainWindow main .background{
    width: 430px;
    height: 130px;
    background: #ff0000;  /* 待修改 */
    border-radius: 4px;
}

.mainWindow main .bdy{
    width: 430px;
    height: 170px;
    background: #ffffff; /* 待修改 */
}

.mainWindow footer{
    width: 430px;
    height: 30px;
    background: #00ff00;    /* 待修改 */
    position: absolute;
}

.center{
    margin: auto;
    align-self: center;
}

.form{
    padding: 10px 90px 0px 90px;
}

.form .item{
    height: 40px;
    position: relative;
}

.form .item #account_icon{
    position: absolute;
    top: 5px;
}

.form .item #password_icon{
    position: absolute;
    top: 5px;
}

.form .item input{
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    width: 230px;
    height: 30px;
    border-bottom: 1px solid #ccc;
}

.login_button{
    text-align: center;
}

.login_button button{
    background-color: lightskyblue;
    border: none;
    outline: none;
    width: 250px;
    height: 35px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.messageBar{
    background: transparent;
    border: none;
    outline: none;
    width: 430px;
    height: 25px;
    text-align: center;
}

.messageBar #message{
    font-size: 14px;
    color: red;
}