html, body{
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
}

.mainWindow{
    width: 1037px;
    height: 690px;
    border-radius: 10px;
    position: relative;
}

header{
    width: 1037px;
    height: 40px;
    background: transparent;
    border-radius: 10px;
    position: absolute;
}

header .header-left{
    /* 暂时不使用的区域，留着后期用来放图标之类的 */
    width: 500px;
    height: 40px;
    border-radius: 10px;
    background: transparent;
    position: absolute;
    text-align: left;
}

header .header-right{
    /* 用于放置-,x等操作按钮的地方 */
    width: 537px;
    height: 40px;
    background: transparent;
    position: absolute;
    text-align: right;
    margin-left: 500px;
}

main{
    width: 1037px;
    height: 640px;
    background: #fff;
    text-align: center;
    padding-top: 40px;
}

.bdy{
    width: 1037px;
    height: 400px;
    background: #fff;
    text-align: center;
    vertical-align: middle;
    padding-top: 200px;
}

main .bdy .searchBar{
    width: 582px;
    height: 44px;
    margin: 0 auto;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    text-align: left;
    position: relative;
}

#search_icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 12px;
}

main .bdy .searchBar #search{
    width: 487px;
    height: 34px;
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.87);
    outline: none;
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translate(10%,-50%);
}

main .bdy .searchButton{
    height: 65px;
    padding-top: 15px;
    width: 1037px;
    position: relative;
}

main .bdy .searchButton input[type="submit"]{
    position: absolute;
    top: 50%;
    transform: translate(-40%,-50%);
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}